[submodule "repository"]
	path = repository
	url = git@github.com:ngspipes/repository.git
[submodule "engine"]
	path = engine
	url = git@github.com:ngspipes/engine.git
[submodule "editor"]
	path = editor
	url = git@github.com:ngspipes/editor.git
[submodule "dsl"]
	path = dsl
	url = git@github.com:ngspipes/dsl.git
[submodule "json-java/src/main/java/org/json"]
	path = json-java/src/main/java/org/json
	url = https://github.com/stleary/JSON-java.git
[submodule "jfx-components"]
	path = jfx-components
	url = git@github.com:ngspipes/JavaFXUtils.git
[submodule "jfx-workflows"]
	path = jfx-workflows
	url = git@github.com:ngspipes/WorkflowFX.git
